.required:after{
    content: '*';
    color: red;
}

.testings{
    font-family:"fantasy";
    color: #1a1d20;
    background-color: #c7dbd2;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

.testings:hover{
    font-family:"fantasy";
    color: #1a1d20;
    background-color: #a0aec0;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}
.my_quest{
    text-decoration: none;
}
.questions{
    font-family:"fantasy";
    color: #1a1d20;
    background-color: #c7dbd2;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    padding: 3px;
}
.butHidden{
    display: none;
    width: 0;
    height: 0;
}

.answers{
    display:none;
    width:100%;
    height:150px;
    border:1px solid #a0aec0;
    border-radius: 6px;
    margin-bottom: 10px;
}

#trueAnsDiv{
    display:none;
    height:150px;
    border:1px solid #a0aec0;
    border-radius: 6px;
    color:#0f5132;
    font-size: 18px;
    padding: 5px;
}
#falseAnsDiv{
    display:none;
    height:150px;
    border:1px solid #daa3b3;
    border-radius: 6px;
    color: #c73232;
    font-size: 18px;
    padding: 5px;
}
.checkLi{
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: start;
}
.ulQuest{
    padding-left: 20px;
}

.testSuccess{
    background-color: #d2ecd2;
    border:1px solid #a3aeb7;
    border-radius: 6px;
    color: #090e15;
    padding: 5px;
}
.testFailure{
    background-color: #dcb5b9;
    border:1px solid #eaa3b5;
    border-radius: 6px;
    color:#051b11;
    padding: 5px;
}
.LC{
    padding: 5px;
    background-color: #f6f6f8;
    border:1px solid #ceddf6;
    border-radius: 5px;
}
.necessarily{
    color:red;
}

.main_content{
    width:85vw;
}

.timer__items {
    display: flex;
    font-size: 48px;
}
.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}
